.servicios {
  background: var(--fondo-degradado);
  padding: 40px 0 80px;
}

app-tarjeta:hover .icono {
  background-color: var(--color-primario);
  color: white;
  transform: rotate(-8deg) scale(1.1);
}

.icono {
  background-color: var(--color-suave);
  color: var(--color-primario);
  font-size: 1.4rem;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.nombre {
  color: var(--color-titulo);
  font-size: 1.15rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.texto {
  color: var(--color-texto-suave);
  font-size: 0.95rem;
  margin-bottom: 12px;
}
